.additional-list-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 60px;

  @media (min-width: 768px) {
    margin-top: 80px;
  }
}

.article {
  font-family: 'Noto Serif JP CJK', 'Gentium Plus Book', 'Noto Serif JP', serif;
  font-size: 16px;
  line-height: 22px;

  & > *:not(blockquote) {
    margin-bottom: 20px;
  }
  & > *:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 27px;
  }
}