.container {
  margin: 0 0 40px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    margin: 0 0 32px;
  }
}

.title {
  margin: 20px 0;
  font-family: 'Noto Serif JP', serif;
  font-size: 32px;
  font-weight: 200;
  line-height: 1;

  @media (min-width: 768px) {
    margin: 8px 0 24px;
    font-size: 72px;
  }
}

.description {
  margin: 0 0 20px;
  font-size: 16px;
  font-style: italic;
  font-family: 'Gentium', serif;
  font-weight: 400;
  line-height: 20px;

  @media (min-width: 768px) {
    margin: 0 0 24px;
    font-size: 28px;
    line-height: 36px;
  }
}

.publish-date {
  font-size: 12px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
  line-height: 1.5;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 1;
  }
}
