.container {
  margin: 0 0 40px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 0 32px;
  }
}

.title {
  font-family: 'Noto Serif JP', serif;
  font-weight: 200;
  line-height: 1;

  @media (min-width: 768px) {
    margin: 8px 0 24px;
    font-size: 72px;
  }
}

.description {
  font-size: var(--fb3);
  font-style: italic;
  font-family: 'Gentium', serif;
  font-weight: 400;

  @media (min-width: 768px) {
    margin: 0 0 24px;
    font-size: 28px;
    line-height: 36px;
  }
}

.publish-date {
  font-size: var(--fb2);
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 1;
  }
}
