.container {
  margin: 2rem 0;
  text-align: center;
  white-space: pre-wrap;
  text-wrap: balance;
}
.wrapper {
  position: relative;
}
.quote-mark-start {
  position: absolute;
  transform: translateX(-1rem) translateY(-1rem);
  font-size: 1.875rem;
  line-height: 2.25rem;
  top: 0;
  left: 0;
}
.quote-mark-end {
  position: absolute;
  transform: translateX(1rem) translateY(2rem);
  font-size: 1.875rem;
  line-height: 2.25rem;
  bottom: 0;
  right: 0;
}
