.container {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.children {
  display: flex;
  flex-direction: column;
  gap: var(--fb5);
}

.top-button-wrapper {
  align-self: flex-end;
  margin-top: var(--fb5);
}

.top-button {
  font-size: var(--fb3);
  font-family: 'Noto Sans', sans-serif;
  font-weight: 100;
}
