.container {
  padding: 8px 8px 12px;
  background-color: #27221f19;
  position: sticky;
  top: 56px;
}
.ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}
.li {
  display: flex;
}
.indent {
  min-width: 8px;
}
.link {
  font-size: 16px;
  line-height: 1;
  font-family: 'Noto Serif JP', serif;
  font-weight: 200;
  text-align: left;

  &[data-cjk='true'] {
    font-family: 'Noto Serif JP CJK', 'Noto Serif JP', serif;
  }

  &:hover {
    text-decoration: underline;
  }
}
