.container {
  padding: 8px 8px 12px;
  background-color: #27221f19;
  position: sticky;
  top: 96px;
}
.ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
}
.indent {
  width: 8px;
}
.link {
  font-size: 16px;
  line-height: 1;
  font-family: 'Noto Serif JP', serif;
  font-weight: 200;

  &:hover {
    text-decoration: underline;
  }
}
