.header-wrapper {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
  }
}
.header {
  margin: 20px 0 28px;
  font-family: 'Noto Serif JP', serif;
  font-size: 32px;
  font-weight: 200;
  line-height: 1;

  @media (min-width: 768px) {
    margin: 8px 0 32px;
    font-size: 72px;
    grid-column: 2 / span 4;
  }
}
