@font-face {
  font-family: 'Gentium Book';
  src: url('/fonts/GentiumBookPlus-Regular.ttf');
}
@font-face {
  font-family: 'Gentium';
  src: url('/fonts/GentiumPlus-Italic.ttf');
}
@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Thin.ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'Noto Serif JP';
  src: url('/fonts/NotoSerifJP-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'Noto Serif JP';
  src: url('/fonts/NotoSerifJP-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Noto Serif JP';
  src: url('/fonts/NotoSerifJP-Bold.ttf');
  font-weight: 800;
}
