@font-face {
  font-family: 'Gentium Book';
  src: url('/fonts/GentiumBookPlus-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Gentium Book';
  src: url('/fonts/GentiumBookPlus-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Gentium';
  src: url('/fonts/GentiumPlus-Italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/NotoSans-Thin.woff2') format('woff2');
  font-weight: 100;
}
@font-face {
  font-family: 'Noto Serif JP';
  src: url('/fonts/NotoSerifJP-ExtraLight.woff2') format('woff2');
  font-weight: 200;
}
@font-face {
  font-family: 'Noto Serif JP';
  src: url('/fonts/NotoSerifJP-Regular.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Noto Serif JP';
  src: url('/fonts/NotoSerifJP-Bold.woff2') format('woff2');
  font-weight: 800;
}
@font-face {
  font-family: 'Exocet';
  src: url('/fonts/Exocet-Light.woff2') format('woff2');
}
