.container {
  margin: 20px 8px;
  grid-column: 2 / span 4;
  @media (min-width: 768px) {
    margin-top: 40px;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.section-container {
  width: fit-content;
  display: flex;
  gap: 6px;

  @media (min-width: 768px) {
    gap: 12px;
  }
}
.section-link {
  font-family: 'Gentium Book', serif;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 24px;
    line-height: 28px;
  }
}
.publication-folio {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Noto Serif JP', serif;
  font-weight: 800;

  @media (min-width: 768px) {
    font-size: 28px;
    line-height: 1;
  }
}
.divider {
  margin: 4px 0 0;
  border-top: solid 2px;
  border-bottom: solid 1px;
  height: 8px;

  @media (min-width: 768px) {
    margin: 12px 0;
  }
}
