.container {
  margin: 20px 0 8px;
  grid-column: 2 / span 4;
  position: sticky;
  background-color: var(--light);
  z-index: 1;

  @media (min-width: 768px) {
    padding: 24px 0 8px;
    margin: 0;
    top: 0;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.section-container {
  width: fit-content;
  display: flex;
  gap: 6px;

  @media (min-width: 768px) {
    gap: 12px;
  }
}
.section-link {
  font-family: 'Gentium Book', serif;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}
.publication-folio {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Noto Serif JP', serif;
  font-weight: 800;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}
.divider {
  margin: 4px 0 0;
  border-top: solid 2px;
  border-bottom: solid 1px;
  height: 8px;

  @media (min-width: 768px) {
    margin: 8px 0 0;
  }
}
