.container {
  margin: 20px 0 0;
  padding: 4px 0 8px;
  grid-column: 2 / span 4;
  position: sticky;
  background-color: var(--light);
  z-index: 1;
  top: 0;

  @media (min-width: 768px) {
    padding: 8px 0;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-button {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--dark);

  @media (min-width: 768px) {
    display: none;
  }
}
.section-container {
  display: none;

  @media (min-width: 768px) {
    width: fit-content;
    display: flex;
    gap: 12px;
  }
}
.section-link {
  font-family: 'Gentium Book', serif;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}
.publication-folio {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Noto Serif JP', serif;
  font-weight: 800;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 24px;
  }
}
.divider {
  margin: 4px 0 0;
  border-top: solid 2px;
  border-bottom: solid 1px;
  height: 8px;

  @media (min-width: 768px) {
    margin: 8px 0 0;
  }
}
