.container {
  margin: var(--fb8) 0;
  padding: var(--fb2) 0 0;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
  border-top: solid 1px;

  @media (min-width: 768px) {
    text-align: left;
  }
}

.link {
  font-size: var(--fb2);
}
